https://pandas.pydata.org/docs/user_guide/indexing.html

In [ ]:
import pandas as pd
import numpy as np
dates = pd.date_range('1/1/2000', periods=8)

df = pd.DataFrame(np.random.randn(8, 4),
                 index=dates, columns=['A', 'B', 'C', 'D'])
df

In [3]:
s = df['A']

s,dates[5],s[dates[5]]

(2000-01-01    0.491117
 2000-01-02   -1.016930
 2000-01-03    1.511459
 2000-01-04    0.187020
 2000-01-05   -0.258027
 2000-01-06    0.712889
 2000-01-07   -0.254592
 2000-01-08    0.751960
 Freq: D, Name: A, dtype: float64,
 Timestamp('2000-01-06 00:00:00', freq='D'),
 0.7128889441298684)

In [4]:
# 交换ab两列
df[['B', 'A']] = df[['A', 'B']]
#or df.loc[:, ['B', 'A']] = df[['A', 'B']].to_numpy()
df

                   A         B         C         D
2000-01-01 -0.353555  0.491117 -1.111036  0.608831
2000-01-02 -0.608954 -1.016930  0.079493 -0.928728
2000-01-03 -0.211587  1.511459 -1.647703  0.472781
2000-01-04  0.113305  0.187020  0.319407  0.108973
2000-01-05 -0.439127 -0.258027 -0.685852  0.507151
2000-01-06 -0.425566  0.712889  0.894625  0.216391
2000-01-07 -0.066574 -0.254592 -1.614199 -1.627364
2000-01-08 -0.949286  0.751960 -2.531739  0.720655

- iloc按行号、列号来索引（推荐）

1)取一行 ：data.iloc[0]  、data.iloc[0,:]

2)取多行 ：data.iloc[[0,2]] 、data.iloc[[0,2],:]

3)取连续多行 ：data.iloc[0:2] 、data.iloc[0:2,:]

4)取一列 ： data.iloc[:,0]

5)取多列 ：data.iloc[:,[0,2]]、data.iloc[:,[0,2]]

6)取连续多列 ：data.iloc[:,0:2]

- loc按行名、列名来索引（推荐）

1)取一行：data.loc['row1']   、data.loc['row1',:]

2)取多行：data.loc[['row1','row2']]  、data.loc[['row1','row2'],:]

3)取连续多行：data.loc['row1':'row2']   、data.loc['row1':'row2',:]

4)取一列：data.loc[:,'col1']

5)取多列：data.loc[:,['row1','row2']]

6)取连续多列：data.loc[:,'row1':'row2']

In [8]:
# loc 是用字符串索引
# iloc是用下标索引
"""
print(df.loc['20130102'])
print(df.loc[:,['A','B']])
print(df.loc['20130102',['A','B']])

print(df.iloc[3,1])
print(df.iloc[3:5,1:3])
print(df.iloc[[1,3,5],1:3])
print(df.iloc[[1,3,5],[1,3]])
"""
df[['A', 'B']],df.loc[:, ['B', 'A']]

(                   A         B
 2000-01-01 -0.353555  0.491117
 2000-01-02 -0.608954 -1.016930
 2000-01-03 -0.211587  1.511459
 2000-01-04  0.113305  0.187020
 2000-01-05 -0.439127 -0.258027
 2000-01-06 -0.425566  0.712889
 2000-01-07 -0.066574 -0.254592
 2000-01-08 -0.949286  0.751960,
                    B         A
 2000-01-01  0.491117 -0.353555
 2000-01-02 -1.016930 -0.608954
 2000-01-03  1.511459 -0.211587
 2000-01-04  0.187020  0.113305
 2000-01-05 -0.258027 -0.439127
 2000-01-06  0.712889 -0.425566
 2000-01-07 -0.254592 -0.066574
 2000-01-08  0.751960 -0.949286)

In [13]:
sa = pd.Series([1, 2, 3], index=list('abc'))
dfa = df.copy()
sa.b,dfa.A

(2,
 2000-01-01   -0.353555
 2000-01-02   -0.608954
 2000-01-03   -0.211587
 2000-01-04    0.113305
 2000-01-05   -0.439127
 2000-01-06   -0.425566
 2000-01-07   -0.066574
 2000-01-08   -0.949286
 Freq: D, Name: A, dtype: float64)

In [15]:
# 直接赋值
sa.a = 5
dfa.A = list(range(len(dfa.index)))
sa,dfa

(a    5
 b    2
 c    3
 dtype: int64,
             A         B         C         D
 2000-01-01  0  0.491117 -1.111036  0.608831
 2000-01-02  1 -1.016930  0.079493 -0.928728
 2000-01-03  2  1.511459 -1.647703  0.472781
 2000-01-04  3  0.187020  0.319407  0.108973
 2000-01-05  4 -0.258027 -0.685852  0.507151
 2000-01-06  5  0.712889  0.894625  0.216391
 2000-01-07  6 -0.254592 -1.614199 -1.627364
 2000-01-08  7  0.751960 -2.531739  0.720655)

In [16]:
x = pd.DataFrame({'x': [1, 2, 3], 'y': [3, 4, 5]})

x.iloc[1] = {'x': 9, 'y': 99}
x

   x   y
0  1   3
1  9  99
2  3   5

In [19]:
df = pd.DataFrame({'one': [1., 2., 3.]})
df.two = [4, 5, 6] # 这个是不行的
df["three"] = [7, 8, 9]
df

d:\programdata\miniconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

   one  three
0  1.0      7
1  2.0      8
2  3.0      9

In [20]:
s1 = s.copy() # s = df['A'] 也就是一列数据
s1,s1[:5],s1[::2],s1[::-1]

(2000-01-01   -0.353555
 2000-01-02   -0.608954
 2000-01-03   -0.211587
 2000-01-04    0.113305
 2000-01-05   -0.439127
 2000-01-06   -0.425566
 2000-01-07   -0.066574
 2000-01-08   -0.949286
 Freq: D, Name: A, dtype: float64,
 2000-01-01   -0.353555
 2000-01-02   -0.608954
 2000-01-03   -0.211587
 2000-01-04    0.113305
 2000-01-05   -0.439127
 Freq: D, Name: A, dtype: float64,
 2000-01-01   -0.353555
 2000-01-03   -0.211587
 2000-01-05   -0.439127
 2000-01-07   -0.066574
 Freq: 2D, Name: A, dtype: float64,
 2000-01-08   -0.949286
 2000-01-07   -0.066574
 2000-01-06   -0.425566
 2000-01-05   -0.439127
 2000-01-04    0.113305
 2000-01-03   -0.211587
 2000-01-02   -0.608954
 2000-01-01   -0.353555
 Freq: -1D, Name: A, dtype: float64)

In [21]:
df[:3],df[::-1]

(   one  three
 0  1.0      7
 1  2.0      8
 2  3.0      9,
    one  three
 2  3.0      9
 1  2.0      8
 0  1.0      7)

In [22]:
dfl = pd.DataFrame(np.random.randn(5, 4),
                    columns=list('ABCD'),
                    index=pd.date_range('20130101', periods=5))

dfl,dfl.loc['20130102':'20130104'],dfl.loc['2013-01-02':'2013-01-04']

(                   A         B         C         D
 2013-01-01  0.662333  0.253148 -2.216670  1.400305
 2013-01-02 -0.628700  0.142157  0.991191 -1.482666
 2013-01-03  1.016779  2.387325  0.326055 -0.170477
 2013-01-04 -0.396337 -1.153187 -1.648128  0.720834
 2013-01-05  0.353549 -0.094649  0.436289  0.187920,
                    A         B         C         D
 2013-01-02 -0.628700  0.142157  0.991191 -1.482666
 2013-01-03  1.016779  2.387325  0.326055 -0.170477
 2013-01-04 -0.396337 -1.153187 -1.648128  0.720834,
                    A         B         C         D
 2013-01-02 -0.628700  0.142157  0.991191 -1.482666
 2013-01-03  1.016779  2.387325  0.326055 -0.170477
 2013-01-04 -0.396337 -1.153187 -1.648128  0.720834)

In [23]:
s1 = pd.Series(np.random.randn(6), index=list('abcdef'))
s1,s1.loc['c':],s1.loc['b']

(a    0.316972
 b   -1.716573
 c   -0.984207
 d   -1.635443
 e   -0.273821
 f   -0.925078
 dtype: float64,
 c   -0.984207
 d   -1.635443
 e   -0.273821
 f   -0.925078
 dtype: float64,
 -1.7165732272346057)

In [24]:
df1 = pd.DataFrame(np.random.randn(6, 4),
                    index=list('abcdef'),
                    columns=list('ABCD'))
df1,\
df1.loc[['a', 'b', 'd'], :],\
df1.loc['d':, 'A':'C'],\
df1.loc['a'],\
df1.xs('a'),\
df1.loc['a'] > 0,\
df1.loc[:, df1.loc['a'] > 0],\
df1.loc['a', 'A']

(          A         B         C         D
 a  0.132414 -0.965640  0.174398  0.324024
 b -1.657072 -0.302328  1.422292  0.544960
 c  0.028774  0.145441  0.019327  2.351714
 d  0.318677 -0.986461 -1.131346  1.990694
 e  0.469695 -0.074203  1.331789  0.450016
 f -0.360557  0.996148 -0.933206  2.160353,
           A         B         C         D
 a  0.132414 -0.965640  0.174398  0.324024
 b -1.657072 -0.302328  1.422292  0.544960
 d  0.318677 -0.986461 -1.131346  1.990694,
           A         B         C
 d  0.318677 -0.986461 -1.131346
 e  0.469695 -0.074203  1.331789
 f -0.360557  0.996148 -0.933206,
 A    0.132414
 B   -0.965640
 C    0.174398
 D    0.324024
 Name: a, dtype: float64,
 A    0.132414
 B   -0.965640
 C    0.174398
 D    0.324024
 Name: a, dtype: float64,
 A     True
 B    False
 C     True
 D     True
 Name: a, dtype: bool,
           A         C         D
 a  0.132414  0.174398  0.324024
 b -1.657072  1.422292  0.544960
 c  0.028774  0.019327  2.351714
 d  0.318677 -1.131346  1.990694
 e  0.469695  1.331789  0.450016
 f -0.360557 -0.933206  2.160353,
 0.1324140842136266)

In [27]:
s = pd.Series(list('abcde'), index=[0, 3, 2, 5, 4])
s,s.loc[3:5],s.sort_index(),s.sort_index().loc[1:6]
# 但是，如果不存在两者中的至少一个并且未对索引进行排序，则将引发错误
# （因为这样做会导致计算量大，并且可能对混合类型索引造成歧义）。
# 例如，在上面的示例中，s.loc [1：6]将引发KeyError。

(0    a
 3    b
 2    c
 5    d
 4    e
 dtype: object,
 3    b
 2    c
 5    d
 dtype: object,
 0    a
 2    c
 3    b
 4    e
 5    d
 dtype: object,
 2    c
 3    b
 4    e
 5    d
 dtype: object)

In [28]:
s1 = pd.Series(np.random.randn(5), index=list(range(0, 10, 2)))
s1,s1.iloc[:3],s1.iloc[3]

(0    0.589071
 2   -0.454884
 4    0.565108
 6    1.006749
 8    0.005198
 dtype: float64,
 0    0.589071
 2   -0.454884
 4    0.565108
 dtype: float64,
 1.0067494560671275)

In [29]:
df1 = pd.DataFrame(np.random.randn(6, 4),
                    index=list(range(0, 12, 2)),
                    columns=list(range(0, 8, 2)))
df1,\
df1.iloc[:3],\
df1.iloc[1:5, 2:4],\
df1.iloc[[1, 3, 5], [1, 3]],\
df1.iloc[1:3, :],\
df1.iloc[:, 1:3],\
df1.iloc[1, 1],\
df1.iloc[1]

(           0         2         4         6
 0   2.483343 -0.478666  0.272780 -0.269149
 2   0.158815  1.222221 -1.373862  0.385147
 4  -0.615608 -2.522395  0.518361 -0.031963
 6  -0.809985 -0.840673 -1.359982  1.052503
 8   0.057754  0.412761  1.357052 -1.676883
 10  1.120070 -0.075628  1.002978  0.675243,
           0         2         4         6
 0  2.483343 -0.478666  0.272780 -0.269149
 2  0.158815  1.222221 -1.373862  0.385147
 4 -0.615608 -2.522395  0.518361 -0.031963,
           4         6
 2 -1.373862  0.385147
 4  0.518361 -0.031963
 6 -1.359982  1.052503
 8  1.357052 -1.676883,
            2         6
 2   1.222221  0.385147
 6  -0.840673  1.052503
 10 -0.075628  0.675243,
           0         2         4         6
 2  0.158815  1.222221 -1.373862  0.385147
 4 -0.615608 -2.522395  0.518361 -0.031963,
            2         4
 0  -0.478666  0.272780
 2   1.222221 -1.373862
 4  -2.522395  0.518361
 6  -0.840673 -1.359982
 8   0.412761  1.357052
 10 -0.075628  1.002978,
 1.2222214983162867,
 0    0.158815
 2    1.222221
 4   -1.373862
 6    0.385147
 Name: 2, dtype: float64)

In [30]:
# 超出范围切片索引的处理方式与Python / Numpy中一样。
x = list('abcdef')
s = pd.Series(x)
x[4:10],x[8:10],\
s.iloc[4:10],s.iloc[8:10]

(['e', 'f'],
 [],
 4    e
 5    f
 dtype: object,
 Series([], dtype: object))

In [31]:
#注意，使用越界的片可能会导致一个空轴(例如返回一个空的数据格式)。
"""
超出范围的单个索引器将引发IndexError。 任何元素超出范围的索引器列表都会引发IndexError。
>>> dfl.iloc[[4, 5, 6]]
IndexError: positional indexers are out-of-bounds

>>> dfl.iloc[:, 4]
IndexError: single positional indexer is out-of-bounds

"""
dfl = pd.DataFrame(np.random.randn(5, 2), columns=list('AB'))
dfl,\
dfl.iloc[:, 2:3],\
dfl.iloc[:, 1:3],\
dfl.iloc[4:6]

(          A         B
 0  0.198865 -2.253942
 1 -0.244468 -0.117211
 2 -2.320227 -1.336805
 3  0.770591  0.794624
 4  0.234669  2.273181,
 Empty DataFrame
 Columns: []
 Index: [0, 1, 2, 3, 4],
           B
 0 -2.253942
 1 -0.117211
 2 -1.336805
 3  0.794624
 4  2.273181,
           A         B
 4  0.234669  2.273181)

In [32]:
df1 = pd.DataFrame(np.random.randn(6, 4),
                    index=list('abcdef'),
                    columns=list('ABCD'))
df1,\
df1.loc[lambda df: df['A'] > 0, :],\
df1.loc[:, lambda df: ['A', 'B']],\
df1.iloc[:, lambda df: [0, 1]],\
df1[lambda df: df.columns[0]],\
df1['A'].loc[lambda s: s > 0]

(          A         B         C         D
 a  0.511324  0.360382  0.093968  1.318524
 b  0.028647 -1.094936  0.378292  0.007930
 c -0.053183  0.374719 -0.480544  0.137062
 d  1.824988 -0.633818  0.741894 -0.266018
 e -0.804121 -1.210853 -1.914884  0.593198
 f -0.535252  1.896321 -0.382054  0.515411,
           A         B         C         D
 a  0.511324  0.360382  0.093968  1.318524
 b  0.028647 -1.094936  0.378292  0.007930
 d  1.824988 -0.633818  0.741894 -0.266018,
           A         B
 a  0.511324  0.360382
 b  0.028647 -1.094936
 c -0.053183  0.374719
 d  1.824988 -0.633818
 e -0.804121 -1.210853
 f -0.535252  1.896321,
           A         B
 a  0.511324  0.360382
 b  0.028647 -1.094936
 c -0.053183  0.374719
 d  1.824988 -0.633818
 e -0.804121 -1.210853
 f -0.535252  1.896321,
 a    0.511324
 b    0.028647
 c   -0.053183
 d    1.824988
 e   -0.804121
 f   -0.535252
 Name: A, dtype: float64,
 a    0.511324
 b    0.028647
 d    1.824988
 Name: A, dtype: float64)

In [36]:
dfd = pd.DataFrame({'A': [1, 2, 3],
                    'B': [4, 5, 6]},
                   index=list('abc'))
# dfd.ix[[0, 2], 'A'] 可以用以下方法替代
# 要获取多个索引器，请使用.get_indexer：
dfd,\
dfd.loc[dfd.index[[0, 2]], 'A'],\
dfd.iloc[[0, 2], dfd.columns.get_loc('A')],\
dfd.iloc[[0, 2], dfd.columns.get_indexer(['A'])]

(   A  B
 a  1  4
 b  2  5
 c  3  6,
 a    1
 c    3
 Name: A, dtype: int64,
 a    1
 c    3
 Name: A, dtype: int64,
    A
 a  1
 c  3)

In [41]:
# 从0.21.0开始，在缺少一个或多个标签的列表中使用.loc或[]是不赞成的，而赞成使用.reindex。
s = pd.Series([1, 2, 3])
s,\
s.reindex([1, 2, 3]),\
s.loc[s.index.intersection([1, 2, 3])]

(0    1
 1    2
 2    3
 dtype: int64,
 1    2.0
 2    3.0
 3    NaN
 dtype: float64,
 1    2
 2    3
 dtype: int64)

In [45]:
s = pd.Series(np.arange(4), index=['a', 'a', 'b', 'c'])
labels = ['c', 'd'] # ['a', 'd'] 就不行，因为a索引重复了
s.loc[s.index.intersection(labels)].reindex(labels),s.loc['a':'c']

(c    3.0
 d    NaN
 dtype: float64,
 a    0
 a    1
 b    2
 c    3
 dtype: int32)

In [51]:
# n=3 取三个，frac=0.5取百分之五十
# 默认情况下，sample最多返回一行一次，但是也可以使用replace选项对替换进行sample:
s = pd.Series([0, 1, 2, 3, 4, 5])
s.sample(),s.sample(),s.sample(),\
s.sample(n=3),s.sample(frac=0.5),\
    s.sample(n=6, replace=False),\
    s.sample(n=6, replace=True)

(2    2
 dtype: int64,
 2    2
 dtype: int64,
 1    1
 dtype: int64,
 5    5
 3    3
 0    0
 dtype: int64,
 3    3
 0    0
 5    5
 dtype: int64,
 1    1
 2    2
 4    4
 5    5
 0    0
 3    3
 dtype: int64,
 1    1
 5    5
 0    0
 5    5
 0    0
 4    4
 dtype: int64)

In [52]:
s = pd.Series([0, 1, 2, 3, 4, 5])
example_weights = [0, 0, 0.2, 0.2, 0.2, 0.4]
example_weights2 = [0.5, 0, 0, 0, 0, 0]
s.sample(n=3, weights=example_weights),\
s.sample(n=1, weights=example_weights2)

(2    2
 5    5
 4    4
 dtype: int64,
 0    0
 dtype: int64)

In [55]:
df2 = pd.DataFrame({'col1': [9, 8, 7, 6],
                   'weight_column': [0.5, 0.4, 0.1, 0]})
df3 = pd.DataFrame({'col1': [1, 2, 3], 'col2': [2, 3, 4]})
df4 = pd.DataFrame({'col1': [1, 2, 3], 'col2': [2, 3, 4]})
# sample还允许用户使用axis参数对列而不是行进行样例。
# 最后，还可以使用random state参数为sample s随机数生成器设置种子，该参数将接受整数(作为种子)或NumPy RandomState对象。
df2.sample(n=3, weights='weight_column'),\
df3.sample(n=1, axis=1),\
df4.sample(n=2, random_state=2),\
df4.sample(n=2, random_state=2)

(   col1  weight_column
 0     9            0.5
 1     8            0.4
 2     7            0.1,
    col2
 0     2
 1     3
 2     4,
    col1  col2
 2     3     4
 1     2     3,
    col1  col2
 2     3     4
 1     2     3)

In [56]:
# 设置与扩大
se = pd.Series([1, 2, 3])
print(se)
se[5] = 5.
se

0    1
1    2
2    3
dtype: int64

0    1.0
1    2.0
2    3.0
5    5.0
dtype: float64

In [57]:
dfi = pd.DataFrame(np.arange(6).reshape(3, 2),
                   columns=['A', 'B'])
print(dfi)

dfi.loc[:, 'C'] = dfi.loc[:, 'A']

dfi

   A  B
0  0  1
1  2  3
2  4  5

   A  B  C
0  0  1  0
1  2  3  2
2  4  5  4

In [62]:
# 快速获取和设置标量值
dates = pd.date_range('1/1/2000', periods=8)

df = pd.DataFrame(np.random.randn(8, 4),
                 index=dates, columns=['A', 'B', 'C', 'D'])
s,s.iat[5],\
df,dates,dates[5],\
df.at[dates[5], 'A'],df.iat[3, 0]

(0    0
 1    1
 2    2
 3    3
 4    4
 5    5
 dtype: int64,
 5,
                    A         B         C         D
 2000-01-01 -0.384697 -0.434669 -1.653491  1.034334
 2000-01-02  0.211230 -0.529058 -0.927382 -1.307638
 2000-01-03 -0.570957 -0.485431 -1.435779  0.155242
 2000-01-04 -0.222726 -1.317617  0.184514 -1.812967
 2000-01-05 -0.232898  1.557685  1.159462 -0.010002
 2000-01-06  0.412822 -0.295252 -0.923283 -1.161460
 2000-01-07  0.333986 -0.307453 -0.451364 -1.875065
 2000-01-08  0.108193  0.184682  0.709551 -0.172734,
 DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
                '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08'],
               dtype='datetime64[ns]', freq='D'),
 Timestamp('2000-01-06 00:00:00', freq='D'),
 0.4128219137502586,
 -0.22272592390106608)

In [63]:
df.at[dates[5], 'E'] = 7
df.iat[3, 0] = 7
df.at[dates[-1] + pd.Timedelta('1 day'), 0] = 7
df

                   A         B         C         D    E    0
2000-01-01 -0.384697 -0.434669 -1.653491  1.034334  NaN  NaN
2000-01-02  0.211230 -0.529058 -0.927382 -1.307638  NaN  NaN
2000-01-03 -0.570957 -0.485431 -1.435779  0.155242  NaN  NaN
2000-01-04  7.000000 -1.317617  0.184514 -1.812967  NaN  NaN
2000-01-05 -0.232898  1.557685  1.159462 -0.010002  NaN  NaN
2000-01-06  0.412822 -0.295252 -0.923283 -1.161460  7.0  NaN
2000-01-07  0.333986 -0.307453 -0.451364 -1.875065  NaN  NaN
2000-01-08  0.108193  0.184682  0.709551 -0.172734  NaN  NaN
2000-01-09       NaN       NaN       NaN       NaN  NaN  7.0

In [ ]:
# Boolean indexing
# Another common operation is the use of boolean vectors to filter the data.
# The operators are: | for or, & for and, and ~ for not. These must be grouped by using parentheses,
# since by default Python will evaluate an expression such as df['A'] > 2 & df['B'] < 3 as df['A'] > (2 & df['B']) < 3,
#  while the desired evaluation order is (df['A > 2) & (df['B'] < 3).

s = pd.Series(range(-3, 4))

s,s[s > 0],s[(s < -1) | (s > 0.5)],s[~(s < 0)]

In [ ]:
df2 = pd.DataFrame({'a': ['one', 'one', 'two', 'three', 'two', 'one', 'six'],
                     'b': ['x', 'y', 'y', 'x', 'y', 'x', 'x'],
                     'c': np.random.randn(7)})

criterion = df2['a'].map(lambda x: x.startswith('t'))
df[df['A'] > 0],\
df2[criterion],\
df2[[x.startswith('t') for x in df2['a']]],\
     df2[criterion & (df2['b'] == 'x')],\
    df2.loc[criterion & (df2['b'] == 'x'), 'b':'c']